SIMPLEFACTURA_URL=https://api.simplefactura.cl
SIMPLEFACTURA_EMAIL=
SIMPLEFACTURA_PASSWORD=
SIMPLEFACTURA_AMBIENTE=1
SIMPLEFACTURA_SUCURSAL=Planta_con_Mati
SIMPLEFACTURA_RUT_EMISOR=78444692-1
SIMPLEFACTURA_RZN=SAN JOSE SPA
SIMPLEFACTURA_GIRO=VENTA AL POR MENOR DE FLORES, PLANTA
SIMPLEFACTURA_ACTECO=477397
SIMPLEFACTURA_DIR=GRAL URRUTIA 630 LOCAL 104
SIMPLEFACTURA_CMNA=Villarrica
